

<nav class="navbar navbar-light navbar-expand-md navman navbar-default">
    <a href="" class="navbar-brand">Daily Journal</a>
    <button class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#mark" type="button">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="navbar-collapse" id="mark">
        <ul class="navbar-nav ms-auto" style="padding: 0% 5%;">
           
            <li class="nav-item    
            "><a href="/" class="nav-link" id="porched">
                HOME
            </a></li>
        
      <li class="nav-item"><a class="nav-link" href="/about-us">ABOUT US</a></li>
       <li class="nav-item"><a class="nav-link" href="/contact-us">CONTACT US</a></li>
       
        </ul></div>
</nav>